# .env.prod.local.example
# Finalisation de SymfoConnect - Jour 3

APP_ENV=prod
APP_SECRET=a_very_secret_key_change_me
APP_DEBUG=0

# Configuration de la base de données
DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/symfoconnect_db?serverVersion=8.0.32&charset=utf8mb4"

# Configuration du mailer
MAILER_DSN=smtp://localhost:1025

# Configuration de Messenger
MESSENGER_TRANSPORT_DSN=doctrine://default
